:host {
  width: 100%;

  /**
    * @prop --scene-tree-table-header-column-gap: CSS length that specifies the amount of
    * padding between columns in the table.
    * Defaults to gap set with --scene-tree-table-column-gap.
    */
    --scene-tree-table-header-column-gap: var(--scene-tree-table-column-gap);
}

.header {
  display: flex;
  font-size: 0.875rem;
  height: 2rem;
}

.header-label {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
 
.header-label:not(:last-child) {
  padding-right: var(--scene-tree-table-header-column-gap);
}

.header-label:first-child {
  padding-left: var(--scene-tree-table-header-column-gap);
}
