:host {
  display: block;

  /**
   * @prop --viewer-measurement-line-stroke: An SVG stroke that specifies the
   * color stroke of the line.
   */
  --viewer-measurement-line-stroke: var(--blue-600);

  /**
   * @prop --viewer-measurement-line-stroke-width: A CSS length that specifies
   * the width of the line.
   */
  --viewer-measurement-line-stroke-width: 3px;

  /**
   * @prop --viewer-measurement-line-start-cap-visibility: An CSS visibility
   * value for the cap at the start of the line.
   */
  --viewer-measurement-line-start-cap-visibility: initial;

  /**
   * @prop --viewer-measurement-line-end-cap-visibility: An CSS visibility value
   * for the cap at the end of the line.
   */
  --viewer-measurement-line-end-cap-visibility: initial;
}

.line {
  width: 100%;
  height: 100%;
  stroke-width: var(--viewer-measurement-line-stroke-width);
  stroke: var(--viewer-measurement-line-stroke);
}

line {
  pointer-events: all;
}

.start-cap {
  visibility: var(--viewer-measurement-line-start-cap-visibility);
}

.end-cap {
  visibility: var(--viewer-measurement-line-end-cap-visibility);
}
