:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.825rem;

  /**
    * @prop --scene-tree-table-row-padding: CSS lengths that specifies the amount of
    * padding between the row's border and content.
    */
    --scene-tree-table-row-padding: 2px 0px;

  /**
    * @prop --scene-tree-table-column-gap: CSS length that specifies the amount of
    * padding between columns in the table.
    */
    --scene-tree-table-column-gap: 0.5rem;
}

.header {
  position: relative;
  display: grid;
  width: 100%;
  border-bottom: var(--scene-tree-toolbar-separator);
}

.table {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.resize {
  cursor: col-resize;
  user-select: none;
  -webkit-user-select: none;
}

.resize-overlay {
  position: absolute;
  top: 0;
  cursor: col-resize;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.divider-overlay {
  position: absolute;
  top: 0;
  display: grid;
  pointer-events: none;
  z-index: 2000;
  width: 100%;
  height: 100%;
}

.divider-overlay > * {
  pointer-events: auto;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  height: var(--header-height);
  padding: calc(var(--header-height) / 8) calc(var(--scene-tree-table-column-gap) / 2);
}

.divider-wrapper {
  cursor: col-resize;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: var(--neutral-600);
  cursor: col-resize;
}

.divider-wrapper.grabbing {
  height: 100%;
  padding: 0 calc(var(--scene-tree-table-column-gap) / 2);
}

.divider-wrapper.grabbing .divider {
  background-color: var(--blue-600);
}

.divider-wrapper:hover .divider {
  background-color: var(--blue-600);
}
