:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.825rem;

  /**
    * @prop --scene-tree-table-row-padding: CSS lengths that specifies the amount of
    * padding between the row's border and content.
    */
    --scene-tree-table-row-padding: 2px 0px;

  /**
    * @prop --scene-tree-table-column-gap: CSS length that specifies the amount of
    * padding between columns in the table.
    */
    --scene-tree-table-column-gap: 0.5rem;
}

.header {
  position: relative;
  display: grid;
  width: 100%;
  border-bottom: var(--scene-tree-toolbar-separator);
}

.header > *:not(:last-child) {
  padding-right: var(--scene-tree-table-column-gap);
}

.header > *:first-child {
  padding-left: var(--scene-tree-table-column-gap);
}

.table {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: auto;
}