node_modules/
**/node_modules/

dist/
**/dist/

coverage/
**/coverage/
.nyc_output/

.rpt2_cache/
**/.rpt2_cache/

yarn.lock
.yarn/
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/versions/
.pnp.*
.yarn/install-state.gz

.nx/
*.tsbuildinfo
*.tgz
*.log

checkout-actions/
