:host {
  font-size: 0.75rem;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;

  --line-stroke-color: var(--red-800);
  --line-stroke-width: 4;
  --line-fill-color: var(--red-800);
  --line-fill-opacity: 0;
  --head-stroke-color: var(--red-800);
  --head-stroke-width: 4;
  --head-fill-color: var(--red-800);
  --head-fill-opacity: 1;

  --bounds-edge-anchor-stroke-color: var(--blue-400);
  --bounds-edge-anchor-stroke-width: 1;
  --bounds-edge-anchor-fill-color: white;
  --bounds-edge-anchor-fill-opacity: 1;

  --bounds-circle-anchor-stroke-color: white;
  --bounds-circle-anchor-stroke-width: 1;
  --bounds-circle-anchor-fill-color: var(--blue-400);
  --bounds-circle-anchor-fill-opacity: 1;
}

.svg {
  width: 100%;
  height: 100%;
}

.line {
  pointer-events: auto;
  stroke: var(--line-stroke-color);
  stroke-width: var(--line-stroke-width);
  fill: var(--line-fill-color);
  fill-opacity: var(--line-fill-opacity);
}

.head {
  pointer-events: auto;
  stroke: var(--head-stroke-color);
  stroke-width: var(--head-stroke-width);
  fill: var(--head-fill-color);
  fill-opacity: var(--head-fill-opacity);
}

.bounds-line, .bounds-outline {
  pointer-events: auto;
  stroke: var(--bounds-outline-stroke-color);
  stroke-width: var(--bounds-outline-stroke-width);
}

.bounds-rect {
  pointer-events: auto;
  stroke: var(--bounds-edge-anchor-stroke-color);
  stroke-width: var(--bounds-edge-anchor-stroke-width);
  fill: var(--bounds-edge-anchor-fill-color);
  fill-opacity: var(--bounds-edge-anchor-fill-opacity);
  cursor: default;
}

.bounds-circle {
  pointer-events: auto;
  stroke: var(--bounds-circle-anchor-stroke-color);
  stroke-width: var(--bounds-circle-anchor-stroke-width);
  fill: var(--bounds-circle-anchor-fill-color);
  fill-opacity: var(--bounds-circle-anchor-fill-opacity);
  cursor: default;
}