:host {
  font-size: 0.75rem;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
}

.svg {
  width: 100%;
  height: 100%;
}

.line {
  pointer-events: auto;
}

.head {
  pointer-events: auto;
}

.bounds-line, .bounds-outline, .bounds-rect {
  pointer-events: auto;
  stroke: var(--blue-400);
  stroke-width: 1px;
}

.bounds-line, .bounds-outline {
  pointer-events: auto;
  fill: none;
}

.bounds-circle {
  pointer-events: auto;
  fill: var(--blue-400);
  stroke-width: 1px;
  stroke: #ffffff;
}