:host {

  /**
   * @prop  --viewer-annotations-pin-label-line-color: A CSS color that
   * specifies the color of the label line
   */
   --viewer-annotations-pin-dot-color: var(--blue-600);

  /**
   * @prop  --viewer-annotations-pin-color: A CSS color that
   * specifies the color of the pin
   */
   --viewer-annotations-pin-color: var(--blue-700);

  font-size: 0.75rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}
.selected {
  stroke-width: 1;
  stroke: var(--white);
}

.pin-anchor {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background: var(--white);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid var(--black);
  background: var(--viewer-annotations-pin-dot-color);
  pointer-events: auto;
  cursor: pointer;
}

.selected {
  width: 13px;
  height: 13px;
  border: 2px solid var(--white);
}

.anchor-placeholder {
  background: var(--white);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-sizing: border-box;
}

.anchor-placeholder {
  border: 2px solid var(--black);
  background: var(--white);
}


.pin {
  color: var(--viewer-annotations-pin-color);
}

.pin-selected {
  stroke-width: 1;
  stroke: var(--white);
}