:host,
:root {
  --vertex-viewer-toolbar-divider-width: 1px;
  --vertex-viewer-toolbar-divider-height: 100%;
  --vertex-viewer-toolbar-divider-background-color: var(--neutral-300);
}

viewer-toolbar-divider {
  height: var(--vertex-viewer-toolbar-divider-height);
  width: var(--vertex-viewer-toolbar-divider-width);
  margin: 0 3px;
  background-color: var(--vertex-viewer-toolbar-divider-background-color);
}
