@import url('../../css/button-reset.css');

:host {
  /**
   * @prop --scene-tree-row-height: The height of each row in the scene tree.
   */
  --scene-tree-row-height: 30px;

  /**
   * @prop --scene-tree-row-padding: The padding of each row in the scene tree.
   */
  --scene-tree-row-padding: 0 8px;

  /**
   * @prop --scene-tree-hover-color: The background color of a row when hovered.
   */
  --scene-tree-row-hover-color: var(--blue-200);

  /**
   * @prop --scene-tree-selected-color: The background color of a row when
   * selected.
   */
  --scene-tree-row-selected-color: var(--blue-300);

  width: 300px;
  height: 100%;
  overflow-y: auto;
  user-select: none;
}

.rows {
  position: relative;
}

.row {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--scene-tree-row-height);
  padding: var(--scene-tree-row-padding);
  box-sizing: border-box;
}

.row:hover {
  background-color: var(--scene-tree-row-hover-color);
}

.row.is-selected {
  background-color: var(--scene-tree-row-selected-color);
}

.expand-toggle {
  cursor: pointer;
  width: 16px;
}

.row-text {
  margin-left: 0.25rem;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.visibility-btn {
  display: flex;
  align-items: center;
  visibility: hidden;
  padding: 4px;
}

.visibility-btn.is-hidden {
  visibility: visible;
}

.row:hover .visibility-btn {
  visibility: visible;
}

.error {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  text-align: center;
}
