@import url('../../css/button.css');

:host {
  /**
   * @prop --scene-tree-toolbar-separator: A CSS border value that specifies the
   * border between scene tree toolbars.
   */
  --scene-tree-toolbar-separator: 1px solid var(--neutral-300);

  width: 300px;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
}

.rows-scroll {
  position: relative;
  height: var(--scene-tree-row-height, 0);
  flex-grow: 1;
}

.rows {
  position: relative;
}

.row {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--scene-tree-row-height);
  padding: var(--scene-tree-row-padding);
  box-sizing: border-box;
}

.row:hover {
  background-color: var(--scene-tree-row-hover-color);
}

.row.is-selected {
  background-color: var(--scene-tree-row-selected-color);
}

.expand-toggle {
  cursor: pointer;
  width: 16px;
}

.row-text {
  margin-left: 0.25rem;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.visibility-btn {
  display: flex;
  align-items: center;
  visibility: hidden;
  padding: 4px;
}

.visibility-btn.is-hidden {
  visibility: visible;
}

.row:hover .visibility-btn {
  visibility: visible;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
}

.error-section {
  margin-top: 1rem;
}

.error-message {
  text-align: center;
}

.search-toolbar,
slot[name='header']::slotted(*) {
  border-bottom: var(--scene-tree-toolbar-separator);
}

slot[name='footer']::slotted(:not(:last-child)) {
  border-top: var(--scene-tree-toolbar-separator);
}

.header {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
}

.loading {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
