:host {
  /**
   * @prop --scene-tree-row-height: The height of each row in the scene tree.
   */
  --scene-tree-row-height: 30px;

  /**
   * @prop --scene-tree-row-padding: The padding of each row in the scene tree.
   */
  --scene-tree-row-padding: 0 8px;

  width: 300px;
  height: 100%;
  overflow-y: scroll;
}

/* Reset */
button {
  border: none;
  background: unset;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.rows {
  position: relative;
}

.row {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--scene-tree-row-height);
  padding: var(--scene-tree-row-padding);
  box-sizing: border-box;
}

.expand-toggle {
  cursor: pointer;
  width: 16px;
}

.row-text {
  margin-left: 0.25rem;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.visibility-btn {
  display: flex;
  align-items: center;
  visibility: hidden;
  padding: 4px;
}

.row:hover .visibility-btn {
  visibility: visible;
}
