:host {
  font-size: 0.75rem;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;

  --ellipse-stroke-color: var(--red-700);
  --ellipse-stroke-width: 4;
  --ellipse-fill-color: none;
  --ellipse-fill-opacity: 0;

  --bounds-outline-stroke-color: var(--blue-400);
  --bounds-outline-stroke-width: 1;

  --bounds-edge-anchor-stroke-color: var(--blue-400);
  --bounds-edge-anchor-stroke-width: 1;
  --bounds-edge-anchor-fill-color: white;
  --bounds-edge-anchor-fill-opacity: 1;

  --bounds-circle-anchor-stroke-color: white;
  --bounds-circle-anchor-stroke-width: 1;
  --bounds-circle-anchor-fill-color: var(--blue-400);
  --bounds-circle-anchor-fill-opacity: 1;
}

.svg {
  width: 100%;
  height: 100%;
}

.ellipse {
  pointer-events: auto;
  stroke: var(--ellipse-stroke-color);
  stroke-width: var(--ellipse-stroke-width);
  fill: var(--ellipse-fill-color);
  fill-opacity: var(--ellipse-fill-opacity);
}

.bounds-line, .bounds-outline {
  pointer-events: auto;
  stroke: var(--bounds-outline-stroke-color);
  stroke-width: var(--bounds-outline-stroke-width);
  fill: none;
}

.bounds-rect {
  pointer-events: auto;
  stroke: var(--bounds-edge-anchor-stroke-color);
  stroke-width: var(--bounds-edge-anchor-stroke-width);
  fill: var(--bounds-edge-anchor-fill-color);
  fill-opacity: var(--bounds-edge-anchor-fill-opacity);
}

.bounds-click-target {
  fill: none;
  stroke-width: 5px;
  stroke: transparent;
  pointer-events: stroke;
}

.bounds-circle {
  pointer-events: auto;
  stroke: var(--bounds-circle-anchor-stroke-color);
  stroke-width: var(--bounds-circle-anchor-stroke-width);
  fill: var(--bounds-circle-anchor-fill-color);
  fill-opacity: var(--bounds-circle-anchor-fill-opacity);
}