:host {
  /**
   * @prop --gap: The spacing between elements in the toolbar. Defaults to
   * `0.5rem`.
   */
  --viewer-toolbar-gap: 0.5rem;

  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.viewer-toolbar {
  pointer-events: initial;
  display: flex;
}

.viewer-toolbar ::slotted(:not(:first-child)) {
  margin-left: var(--viewer-toolbar-gap);
}
