:host {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

:host(.position-top) {
  top: 0;
}

:host(.position-bottom) {
  bottom: 0;
}

.inner {
  display: flex;
}

.inner.position-left {
  justify-content: flex-start;
}

.inner.position-center {
  justify-content: center;
}

.inner.position-right {
  justify-content: flex-end;
}

::slotted(*) {
  pointer-events: initial;
}
