:host {
  --vertex-viewer-toolbar-width: 100%;
  --vertex-viewer-toolbar-left-position: 0;
  --vertex-viewer-toolbar-bottom-position: 16px;
}

.viewer-toolbar-root {
  width: var(--vertex-viewer-toolbar-width);
  display: flex;
  justify-content: center;
  position: absolute;
  left: var(--vertex-viewer-toolbar-left-position);
  bottom: var(--vertex-viewer-toolbar-bottom-position);
}
