:host {
  width: 100px;
  height: 100px;
  perspective: 300px;
}

.scene {
  width: 100%;
  height: 100%;
  perspective: inherit;
  visibility: hidden;
  user-select: none;
}

.scene.ready {
  visibility: inherit;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube-side {
  justify-content: center;
  align-items: center;

  background-color: red;
  border: 2px solid black;
}

.cube-face {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  box-sizing: border-box;
}

.cube-face-back {
  transform: rotateY(0deg) rotateY(-90deg) translateX(calc(100% / 2))
    rotateY(90deg);
}
.cube-face-left {
  transform: rotateY(90deg) rotateY(-90deg) translateX(calc(100% / 2))
    rotateY(90deg);
}
.cube-face-front {
  transform: rotateY(180deg) rotateY(-90deg) translateX(calc(100% / 2))
    rotateY(90deg);
}
.cube-face-right {
  transform: rotateY(-90deg) rotateY(-90deg) translateX(calc(100% / 2))
    rotateY(90deg);
}
.cube-face-top {
  transform: rotateX(90deg) rotateZ(180deg) rotateY(-90deg)
    translateX(calc(100% / 2)) rotateY(90deg);
}
.cube-face-bottom {
  transform: rotateX(-90deg) rotateZ(180deg) rotateY(-90deg)
    translateX(calc(100% / 2)) rotateY(90deg);
}

.cube-corner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}

.cube-corner.hovered .cube-edge-face {
  opacity: 100%;
}

.cube-corner-face {
  width: 20px;
  height: 20px;
}

.cube-edge-face {
  position: absolute;
  background-color: blue;
  pointer-events: initial;
  opacity: 0;
}

.cube-edge-face-horiz {
  width: calc(100% - 20px * 2);
  height: 20px;
}

.cube-edge-face-vert {
  width: 20px;
  height: calc(100% - 20px * 2);
}

.vert-center {
  align-items: center;
}

.vert-end {
  align-items: flex-end;
}

.horiz-center {
  justify-content: center;
}

.horiz-end {
  justify-content: flex-end;
}
