

.line {
  pointer-events: auto;
  stroke: black;
  stroke-width: 1;
  cursor: default;
}

.svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
  height: max(100vh, 100%);
  width: max(100vh, 100%);
}
