:host {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.imprecise-anchor {
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  height: 8px;
  width: 8px;
}
