:host {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.measurement-line {
  position: absolute;
  width: 100%;
  height: 100%;
}

.measurement-line.distance-vector-x {
  --viewer-measurement-line-fill: #ea3324;
}

.measurement-line.distance-vector-y {
  --viewer-measurement-line-fill: #4faf32;
}

.measurement-line.distance-vector-z {
  --viewer-measurement-line-fill: #0000ff;
}
