:host {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.root {
  width: 100%;
  height: 100%;
}

.hit-point {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
}
