:root {
  --white: #ffffff;
  --black: #000000;
}

:root {
  --neutral-050: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #eeeeee;
  --neutral-300: #e0e0e0;
  --neutral-400: #bdbdbd;
  --neutral-500: #9e9e9e;
  --neutral-600: #757575;
  --neutral-700: #616161;
  --neutral-800: #444444;
  --neutral-900: #212121;
}

:root {
  --red-050: #fff7f7;
  --red-100: #ffefef;
  --red-200: #ffe0e0;
  --red-300: #ffb3b3;
  --red-400: #ff4d4d;
  --red-500: #ff0000;
  --red-600: #eb0000;
  --red-700: #d90000;
  --red-800: #c40000;
  --red-900: #990000;
}

:root {
  --orange-050: #fffcf7;
  --orange-100: #fff9ef;
  --orange-200: #fff3e0;
  --orange-300: #ffe0b3;
  --orange-400: #ffb84d;
  --orange-500: #ff9900;
  --orange-600: #ff8400;
  --orange-700: #ff7300;
  --orange-800: #e05d00;
  --orange-900: #993b00;
}

:root {
  --yellow-050: #fffef7;
  --yellow-100: #fffdef;
  --yellow-200: #fffbe0;
  --yellow-300: #fff5b3;
  --yellow-400: #ffee6e;
  --yellow-500: #ffe600;
  --yellow-600: #ffd300;
  --yellow-700: #ffc500;
  --yellow-800: #cc8f00;
  --yellow-900: #995c00;
}

:root {
  --green-050: #f7fdf7;
  --green-100: #effcef;
  --green-200: #e0f9e0;
  --green-300: #b3f0b3;
  --green-400: #4ddb4d;
  --green-500: #00cc00;
  --green-600: #00c000;
  --green-700: #00ad00;
  --green-800: #008000;
  --green-900: #004d00;
}

:root {
  --teal-050: #f8fdfc;
  --teal-100: #f1fbfa;
  --teal-200: #e4f7f5;
  --teal-300: #bcece7;
  --teal-400: #62d2c7;
  --teal-500: #1fbeaf;
  --teal-600: #17af9f;
  --teal-700: #0a9986;
  --teal-800: #07705f;
  --teal-900: #054d43;
}

:root {
  --blue-050: #f7fcfd;
  --blue-100: #eff9fc;
  --blue-200: #e0f3f9;
  --blue-300: #b3e0f0;
  --blue-400: #4db8db;
  --blue-500: #0099cc;
  --blue-600: #0086c0;
  --blue-700: #006bad;
  --blue-800: #004f80;
  --blue-900: #002f4d;
}

:root {
  --purple-050: #fdf9fc;
  --purple-100: #faf2f8;
  --purple-200: #f6e6f2;
  --purple-300: #e9c2e0;
  --purple-400: #cb70b6;
  --purple-500: #b43296;
  --purple-600: #a42683;
  --purple-700: #8c1368;
  --purple-800: #66124b;
  --purple-900: #4d0b39;
}
